* {
    border:solid red 1px;
}

html, body {
    display:flex;
    flex-direction: column;
    margin:0px;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}

.buttons {
    display:flex;
    justify-content: center;
    gap:50px;
    -webkit-user-drag: none;
}

h1 {
    display:flex;
    align-items: center;
    justify-content: center;
}

button {
    padding:0px;
    font-size:32px;
}

.story {
    display:flex;
    justify-content: start;
    align-items: start;
}

#result {
    font-size: 50px;
}

#player-score {
    font-size:35px;
}

#computer-score {
    font-size:35px;
}

.scores {
    display:flex;
    gap:100px;
}

img {
    height:400px;
    width:400px;
}

#rock {
    clip: rect(100px 50px 50px 50px);
}

